@page
@model ViaParaTodos.App.Frontend.Pages.ListConductoresModel  
@{
}
<h1>Lista de conductores</h1>
<table class="table">
    <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Cédula</th>
  </tr>
@foreach (var conductor in Model.ListaConductores)
{
    <tr>
    <td>@conductor.Nombres</td>
    <td>@conductor.Apellidos</td>
    <td>@conductor.NumeroDoc</td>
     <td>
      <a class="btn btn-primary table-btn" asp-page="/AllConductores/CRUDConductores" asp-route-idconductor="@conductor.Id">
      <i class="fas fa-info-circle"></i>
      Vehiculo
      </a>
       </td>
    </tr>
}
</table>