@page
@model ViaParaTodos.App.Frontend.Pages.CreateAccidenteModel
@{
}
<h1>Ingrese la información del accidente</h1>

<form method="post">
  <label asp-for="accidente.Descripcion">Descripción:</label><br>
	<input asp-for="accidente.Descripcion" class="form-control" > 
  <br><br>
  <label asp-for="accidente.Gravedad">Gravedad:</label><br>
	<input asp-for="accidente.Gravedad" class="form-control" > 
  <br><br>
  <label asp-for="accidente.Fecha">Fecha y hora:</label><br>
	<input asp-for="accidente.Fecha" class="form-control">
  <br><br>
  <label asp-for="accidente.LocalizacionId">Localización:</label><br>
	<select asp-for="accidente.LocalizacionId" class="form-control">
        <option selected disabled value="">Seleccione</option>
    @foreach (var local in Model.localizaciones)
    {
        <option value="@local.Id">@local.Zona</option>
    }
    </select>
  <br><br>

  <label asp-for="accidente.AgentesTransitoId">Agente a cargo</label><br>
	<select asp-for="accidente.AgentesTransitoId" class="form-control">
        <option selected disabled value="">Seleccione</option>
    @foreach (var agente in Model.agentes)
    {
        <option value="@agente.Id">@agente.Identificacion</option>
    }
    </select>
  <br><br>
    <button type="submit" class="btn btn-primary" >Crear</button>
</form>