@page
@model ViaParaTodos.App.Frontend.Pages.detallesvehiculosModel
@{
}
<H1>DATOS DEL VEHÍCULO</H1>
<form method="post">

              <label asp-for="vehiculo.Placa"></label><br>

              <input asp-for="vehiculo.Placa" >
              
              
     </form>
