@page
@model ViaParaTodos.App.Frontend.Pages.ListModel
@{
}
<h1>Lista Conductores</h1>
<table class="table">
    <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Cédula</th>
  </tr>
@foreach (var conductor in Model.ListaConductores)
{
    <tr>
    <td>@conductor.Nombres</td>
    <td>@conductor.Apellidos</td>
    <td>@conductor.NumeroDoc</td>
    </tr>
}
</table>